<br><br><br>
<div id="breadcrumbs">
    <div class="container">
      <table>
        <tr>
          <td><a routerLink="/dashbord-admin">Admin panel</a></td>
          <td>List Contact</td>
        </tr>
      
      </table>
    </div>
    <!-- / container -->
    
  </div>


<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>

                                <th class="border-top-0">id</th>
                                <th class="border-top-0">Email</th>
                                <th class="border-top-0">Name</th>
                                <th class="border-top-0">Subject</th>
                                <th class="border-top-0">Message</th>



                                <th class="border-top-0"> Delete Contact</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let user of dataArray">
                            <tr >

                                <td>{{user.id}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.name}}</td>
                                <td>{{user.subject}}</td>
                                <td>{{user.message}}</td>

                             <td><button class="custom-btn btn-6" (click)="deletef(user.id)"><span>Delete</span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>