<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card d-flex mx-auto">
             
                <div class="card-text">
                    <div class="card-title">Test Spring boot</div>
                    testez vos connaissances en Spring boot
                </div>
                <div class="footer">
                    <span id="name">cliquez ici<br></span>
                    <span id="position"> <a routerLink="/spring">Faire le test</a></span>
                </div>
            </div>
        </div>
       
        <div class="col-md-4">
            <div class="card d-flex mx-auto">
             
                <div class="card-text">
                    <div class="card-title">HTML</div>
                    testez vos connaissances en HTML
                </div>
                <div class="footer">
                    <span id="name">cliquez ici<br></span>
                    <span id="position"> <a routerLink="/html">Faire le test</a></span>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card d-flex mx-auto">
             
                <div class="card-text">
                    <div class="card-title">Test Java</div>
                    testez vos connaissances en Java
                </div>
                <div class="footer">
                    <span id="name">cliquez ici<br></span>
                    <span id="position"> <a routerLink="/java">Faire le test</a></span>
                </div>
            </div>
        </div>

    </div>
    
<br><br>
    <div class="row">
        <div class="col-md-4">
            <div class="card d-flex mx-auto">
             
                <div class="card-text">
                    <div class="card-title">Test Math</div>
                    testez vos connaissances en math
                </div>
                <div class="footer">
                    <span id="name">cliquez ici<br></span>
                    <span id="position"> <a routerLink="/math">Faire le test</a></span>
                </div>
            </div>
        </div>
       
        <div class="col-md-4">
            <div class="card d-flex mx-auto">
             
                <div class="card-text">
                    <div class="card-title">Test Python</div>
                    testez vos connaissances en Python
                </div>
                <div class="footer">
                    <span id="name">cliquez ici<br></span>
                    <span id="position"> <a routerLink="/python">Faire le test</a></span>
                </div>
            </div>
        </div>

    </div>
</div>