<br><br><br><br>

<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <p class="fw-bold"> Which are the modules of core container?</p>
            <div> <input type="radio" name="box" id="one">
                <input type="radio" name="box" id="two">
                <input type="radio" name="box" id="three">
                <input type="radio" name="box" id="four">
                <label for="one" class="box first">
                    <div class="course"> <span class="circle"></span> <span class="subject"> Beans, Core, Context, SpEL
                        </span> </div>
                </label> <label for="two" class="box second">
                    <div class="course"> <span class="circle"></span> <span class="subject"> Core, Context, ORM, Web
                        </span> </div>
                </label> <label for="three" class="box third">
                    <div class="course"> <span class="circle"></span> <span class="subject"> Core, Context, Aspects,
                            Test </span> </div>
                </label>
            </div>
        </div>
        <div class="col-12">
            <p class="fw-bold mt-5">Which are the IoC containers in Spring?</p>
            <div>
                <div class="row">
                    <div class="col-md-6"> <input type="radio" name="box2" id="five"> <label for="five"
                            class="box fifth w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> BeanFactory,
                                    ApplicationContext</span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box2" id="six"> <label for="six"
                            class="box sixth w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> BeanFactory,
                                    ApplicationContext, IocContextFactory </span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box2" id="seven"> <label for="seven"
                            class="box seveth w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> 3 </span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box2" id="thirteen"> <label for="thirteen"
                            class="box thirteenh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> BeanFactory,
                                    ApplicationContext, BeanContext</span> </div>
                        </label> </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p class="fw-bold mt-5">What is request scope?</p>
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="radio" name="box3" id="ninerr">
                        <label for="ninerr" class="box ninerrh w-100">
                            <div class="course"> <span class="circle"></span>
                                <span class="subject"> session</span>
                            </div>
                        </label>
                    </div>
                    <div class="col-md-6"> <input type="radio" name="box3" id="tenr">
                        <label for="tenr" class="box tenrh w-100">
                            <div class="course"> <span class="circle"></span>
                                <span class="subject">This scopes a bean
                                    definition to an HTTP request. </span>
                            </div>
                        </label>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="col-12">
            <p class="fw-bold mt-5">What are the types of the transaction management Spring supports?</p>
            <div>
                <div class="col-md-6"> <input type="radio" name="box4" id="eleven"> <label for="eleven"
                        class="box elevenh w-100">
                        <div class="course"> <span class="circle"></span> <span class="subject"> .class </span> </div>
                    </label> </div>
                <div class="col-md-6"> <input type="radio" name="box4" id="twelve"> <label for="twelve"
                        class="box twelveh w-100">
                        <div class="course"> <span class="circle"></span> <span class="subject"> This scopes the bean
                                definition to HTTP Session. </span> </div>
                    </label> </div>
                <div class="col-md-6"> <input type="radio" name="box4" id="twentytwothree"> <label for="twentytwothree"
                        class="box twentytwothreeh w-100">
                        <div class="course"> <span class="circle"></span> <span class="subject"> This scopes the bean
                                definition HTTP Application/ Global session.</span> </div>
                    </label> </div>
            </div>
        </div>
        <div class="col-12">
            <p class="fw-bold mt-5">Expression Language/ SpEL was introduced in which version of spring framework.
            </p>
            <div>
                <div class="row">
                    <div class="col-md-6"> <input type="radio" name="box5" id="fourteen"> <label for="fourteen"
                            class="box fourteenh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject">Programmatic transaction
                                    management</span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box5" id="fifty"> <label for="fifty"
                            class="box fiftyh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> Both of above. </span>
                            </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box5" id="sixteen"> <label for="sixteen"
                            class="box sixteenh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> Declarative transaction
                                    management </span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box5" id="seventeen"> <label for="seventeen"
                            class="box seventeenh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> None of above.</span>
                            </div>
                        </label> </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p class="fw-bold mt-5">What is the scope of stateful bean?</p>
            <div>
                <div class="row">
                    <div class="col-md-6"> <input type="radio" name="box6" id="eighteen"> <label for="eighteen"
                            class="box eighteenh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> 1.0</span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box6" id="nineteen"> <label for="nineteen"
                            class="box nineteenh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> 3.0 </span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box6" id="twenty"> <label for="twenty"
                            class="box twentyh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> 4.0 </span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box6" id="twentyone"> <label for="twentyone"
                            class="box twentyoneh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> 2.0 </span> </div>
                        </label> </div>
                </div>
            </div>
        </div>
        
        <div class="col-12">
            <div class="d-flex justify-content-center"> <button class="btn btn-primary px-4 py-2 fw-bold"
                    (click)="submit()"> Valider</button>
            </div>
        </div>


    </div>
</div>