<br><br><br><br>

<div class="container mb-5">
    <p class="fw-bold">Donnez les resultats de ces codes</p>
    <div class="row">
        <div class="col-12">
            <p class="fw-bold">def calculate (num1, num2=4):
                res = num1 * num2
                print(res)

                calculate(5, 6)</p>
            <div> <input type="radio" name="box" id="one">
                 <input type="radio" name="box" id="two">
                <input type="radio" name="box" id="three">
                <input type="radio" name="box" id="four"> 
                <label for="one" class="box first">
                    <div class="course"> <span class="circle"></span> <span class="subject"> 20
                        </span> </div>
                </label> <label for="two" class="box second">
                    <div class="course"> <span class="circle"></span> <span class="subject">  The program executed with errors
                        </span> </div>
                </label> <label for="three" class="box third">
                    <div class="course"> <span class="circle"></span> <span class="subject"> 30
                             </span> </div>
                </label>
            </div>
        </div>
        <div class="col-12">
            <p class="fw-bold mt-5">var1 = 1
                var2 = 2
                var3 = "3"

                print(var1 + var2 + var3)</p>
            <div>
                <div class="row">
                    <div class="col-md-6"> <input type="radio" name="box2" id="five"> <label for="five"
                            class="box fifth w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> Salary: 12000
                                Salary: 8000</span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box2" id="six"> <label for="six"
                            class="box sixth w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> Salary: 8000
                                Salary: 12000</span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box2" id="seven"> <label for="seven"
                            class="box seveth w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> The program failed
                                with errors </span> </div>
                        </label> </div>
                  
                </div>
            </div>
            <div class="col-12">
                <p class="fw-bold mt-5">for x in range(0.5, 5.5, 0.5):
                    print(x)</p>
                <div>
                    <div class="row">
                        <div class="col-md-6"> 
                            <input type="radio" name="box3" id="fourteen">
                             <label for="fourteen" class="box fourteenh w-100">
                                <div class="course"> <span class="circle"></span>
                                     <span class="subject"> [0.5, 1, 1.5, 2,
                                        2.5, 3, 3.5, 4, 4.5, 5, 5.5]</span> </div>
                            </label> </div>
                        <div class="col-md-6"> <input type="radio" name="box3" id="ten">
                             <label for="ten" class="box tenh w-100">
                                <div class="course"> <span class="circle"></span> 
                                    <span class="subject"> [0.5, 1, 1.5, 2,
                                        2.5, 3, 3.5, 4, 4.5, 5]</span> </div>
                            </label> </div>
                        <div class="col-md-6"> <input type="radio" name="box3" id="eleven"> 
                            <label for="eleven" class="box elevenh w-100">
                                <div class="course"> <span class="circle"></span> 
                                    <span class="subject"> he Program executed with errors </span> </div>
                            </label> </div>
         
                    </div>
                </div>
        </div>
        

    <div class="col-12">
        <div class="d-flex justify-content-center"> <button class="btn btn-primary px-4 py-2 fw-bold"  (click)="submit()" > Valider</button>
        </div>
    </div>


</div>