<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Trainers</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" *ngFor="let item of dataArray">
            <div class="member">
              <img [src]="item.image" class="img-fluid" alt="" >
              <div class="member-content">
                
                <h6>{{item.email}}</h6>

                <h4>{{item.lastname}}</h4>
                <span>{{item.firstname}}</span>
                <p>{{item.description}}</p>
                <button class="btn btn-info" *ngIf="etat" (click)="update(item)">Update</button>

                <button class="btn btn-danger"  *ngIf="etat" (click)="delete(item.id)">Delete</button>


              

              </div>
            </div>
          </div>
          

          

          

        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->

  