<br><br><br><br>
<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Reset Password</h3>
        <p class="text-center " ><B>Please enter your email address to request a password reset.</B></p>
        <div class="formGroup contenu">
          <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup contenu">
          <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="auth.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
      <div class="redirectToLogin contenu">
       <div><span>Go back to ? </span></div> 
       <div><button class="redirect" routerLink="/login">Log In</button></div>
      </div>
    </div>
  </div>