<br><br><br><br>
<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <p class="fw-bold">Quel mot clé utiliser pour empêcher d'instancier une classe mère tout en permettant
                l'héritage ?</p>
            <div> <input type="radio" name="box" id="one"> <input type="radio" name="box" id="two"> <input type="radio"
                    name="box" id="three"> <input type="radio" name="box" id="four"> <label for="one" class="box first">
                    <div class="course"> <span class="circle"></span> <span class="subject"> abstract </span> </div>
                </label> <label for="two" class="box second">
                    <div class="course"> <span class="circle"></span> <span class="subject"> protected </span> </div>
                </label> <label for="three" class="box third">
                    <div class="course"> <span class="circle"></span> <span class="subject"> global </span> </div>
                </label> </div>
        </div>
        <div class="col-12">
            <p class="fw-bold mt-5">Que renvoie (int)Math.PI ?</p>
            <div>
                <div class="row">
                    <div class="col-md-6"> <input type="radio" name="box1" id="five"> <label for="five"
                            class="box fifth w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject">
                                    3.141592653589793</span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box1" id="six"> <label for="six"
                            class="box sixth w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> 0.141592653589793
                                </span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box1" id="seven"> <label for="seven"
                            class="box seveth w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> 3 </span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box1" id="eight"> <label for="eight"
                            class="box eighth w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> une erreur</span>
                            </div>
                        </label> </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p class="fw-bold mt-5">(1==2)?"A":"B"; renvoie</p>
            <div>
                <div class="row">
                    <div class="col-md-6"> <input type="radio" name="box2" id="ten"> <label for="ten"
                            class="box tenh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> A</span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box2" id="twelve"> <label for="twelve"
                            class="box twelveh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> AB </span> </div>
                        </label> </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p class="fw-bold mt-5">Quelle est l'extension d'un fichier byte code ?</p>
            <div>
                <div class="row">
                    <div class="col-md-6"> <input type="radio" name="box3" id="fourteen"> <label for="fourteen"
                            class="box fourteenh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> .bin</span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box3" id="thirteen"> <label for="thirteen"
                            class="box thirteenh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> .class </span>
                            </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box3" id="fifhty"> <label for="fifhty"
                            class="box fifhtyh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> .java </span>
                            </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box3" id="sixteen"> <label for="sixteen"
                            class="box sixteenh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> .j </span> </div>
                        </label> </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="d-flex justify-content-center"> <button class="btn btn-primary px-4 py-2 fw-bold" (click)="submit()">
                    Valider</button> </div>
        </div>


    </div>
</div>