<br><br><br><br>
<div class="container mb-5">
    <div class="row">
        <div class="col-12">
            <p class="fw-bold">Que signifie HTML ?</p>
            <div> <input type="radio" name="box" id="one"> <input type="radio" name="box" id="two"> <input type="radio"
                    name="box" id="three"> <input type="radio" name="box" id="four"> <label for="one" class="box first">
                    <div class="course"> <span class="circle"></span> <span class="subject"> HomeTabulation of Mailing
                            List </span> </div>
                </label> <label for="two" class="box second">
                    <div class="course"> <span class="circle"></span> <span class="subject"> HyperText Markup Language
                        </span> </div>
                </label> <label for="three" class="box third">
                    <div class="course"> <span class="circle"></span> <span class="subject"> Hyperspace TradeMark
                            Language </span> </div>
                </label> <label for="four" class="box forth">
                    <div class="course"> <span class="circle"></span> <span class="subject"> XpTdr Mdr Lol </span>
                    </div>
                </label> </div>
        </div>
        <div class="col-12">
            <p class="fw-bold mt-5">À quoi sert HTML ?</p>
            <div>
                <div class="row">
                    <div class="col-md-6"> <input type="radio" name="box2" id="five"> <label for="five"
                            class="box fifth w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> À mettre en forme
                                    des pages web</span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box2" id="six"> <label for="six"
                            class="box sixth w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> À structurer du
                                    contenu dans une page web </span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box2" id="seven"> <label for="seven"
                            class="box seveth w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> À créer des pages
                                    dynamiques </span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box2" id="eight"> <label for="eight"
                            class="box eighth w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> À concurrencer
                                    Google et Facebook </span> </div>
                        </label> </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p class="fw-bold mt-5">En quelle année est né HTML ?</p>
            <div>
                <div class="row">
                    <div class="col-md-6"> <input type="radio" name="box3" id="nine"> <label for="nine"
                            class="box nineh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> Dans les années 70,
                                    avec Arpanet</span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box3" id="ten"> <label for="ten"
                            class="box tenh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> Entre 1986 et 1988,
                                    avec le Club Dorothée </span> </div>
                        </label> </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p class="fw-bold mt-5">Qu'est ce qu'un navigateur web ?</p>
            <div>
                <div class="row">
                    <div class="col-md-6"> <input type="radio" name="box4" id="twelve"> <label for="twelve"
                            class="box twelveh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> Un logiciel capable
                                    d'interpréter et d'afficher du code HTML</span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box4" id="thirteen"> <label for="thirteen"
                            class="box thirteenh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> Un outil permettant
                                    d'accéder à Internet </span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box4" id="fourteen"> <label for="fourteen"
                            class="box fourteenh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> En 1990 exactement,
                                    avec la naissance d'Emma Watson </span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box4" id="fifhty"> <label for="fifhty"
                            class="box fifhtyh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> Plutôt en 1993 non
                                    ? Sous le mandat Bill Clinton </span> </div>
                        </label> </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p class="fw-bold mt-5">paragraph</p>
            <div>
                <div class="row">
                    <div class="col-md-6"> <input type="radio" name="box5" id="sixteen"> <label for="sixteen"
                            class="box sixteenh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> ul</span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box5" id="seventeen"> <label for="seventeen"
                            class="box seventeenh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> li </span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box5" id="eighteen"> <label for="eighteen"
                            class="box eighteenh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> div </span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box5" id="nineteen"> <label for="nineteen"
                            class="box nineteenh w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> p </span> </div>
                        </label> </div>
                </div>
            </div>
        </div>


        <div class="col-12">
            <div class="d-flex justify-content-center"> <button class="btn btn-primary px-4 py-2 fw-bold " (click)="submit()">
                    Valider</button> </div>
        </div>


    </div>
</div>