<br><br><br><br>

<div class="container mb-5">
   <div class="row">
        <div class="col-12">
            <p class="fw-bold">1050=25×42 ->On peut dire que 25 est ...</p>
            <div> <input type="radio" name="box" id="one">
                 <input type="radio" name="box" id="two">
                <input type="radio" name="box" id="three">
                <input type="radio" name="box" id="four"> 
                <label for="one" class="box first">
                    <div class="course"> <span class="circle"></span> <span class="subject"> un multiple de 1050
                        </span> </div>
                </label> <label for="two" class="box second">
                    <div class="course"> <span class="circle"></span> <span class="subject"> un diviseur de 1050
                        </span> </div>
                </label> <label for="three" class="box third">
                    <div class="course"> <span class="circle"></span> <span class="subject">divisible par 1050
                             </span> </div>
                </label>
            </div>
        </div>
        <div class="col-12">
            <p class="fw-bold mt-5">1352=26×52 ->On peut dire que ...</p>
            <div>
                <div class="row">
                    <div class="col-md-6"> <input type="radio" name="box2" id="five"> <label for="five"
                            class="box fifth w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> 26 et 52 sont des
                                diviseurs de 1352</span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box2" id="six"> <label for="six"
                            class="box sixth w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject"> 1352 est un diviseur de 26 et 52</span> </div>
                        </label> </div>
                    <div class="col-md-6"> <input type="radio" name="box2" id="seven"> <label for="seven"
                            class="box seveth w-100">
                            <div class="course"> <span class="circle"></span> <span class="subject">  52 est un diviseur de 26 </span> </div>
                        </label> </div>
                  
                </div>
            </div>
            <div class="col-12">
                <p class="fw-bold mt-5">5 est un diviseur de 89</p>
                <div>
                    <div class="row">
                        <div class="col-md-6"> 
                            <input type="radio" name="box3" id="fourteen">
                             <label for="fourteen" class="box fourteenh w-100">
                                <div class="course"> <span class="circle"></span>
                                     <span class="subject"> Vrai</span> </div>
                            </label> </div>
                        <div class="col-md-6"> <input type="radio" name="box3" id="ten">
                             <label for="ten" class="box tenh w-100">
                                <div class="course"> <span class="circle"></span> 
                                    <span class="subject">Faux</span> </div>
                            </label> </div>
                      
         
                    </div>
                </div>
        </div>
        

    <div class="col-12">
        <div class="d-flex justify-content-center"> <button class="btn btn-primary px-4 py-2 fw-bold"  (click)="submit()"> Valider</button>
        </div>
    </div>


</div>